<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Personas en Agilidad</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='movistar-logo.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header login-header">
        <h1>RecursosAgile</h1>
    </div>

    <div class="container">
        <div class="login-container">
            <h2>Iniciar Sesión</h2>

            <!-- Mensajes de Flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'danger' %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Formulario de Inicio de Sesión -->
            <form method="POST" class="mt-4">
                {{ form.csrf_token }}
                <div class="mb-3 position-relative">
                    {{ form.username.label(class="form-label") }}
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        {{ form.username(class="form-control") }}
                    </div>
                    {% for error in form.username.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-3 position-relative">
                    {{ form.password.label(class="form-label") }}
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        {{ form.password(class="form-control") }}
                    </div>
                    {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </div>
                <div class="d-grid">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>